body{margin:0;padding:0;font-family:arial;background-color:#0b70c0;
        background-image:url(../img/bg.jpg);background-repeat:repeat-x;
        background-position:top center;}

#wrapper{position:absolute;left:50%;width:960px;height:100%;margin-left:-495px;
        padding-bottom:100px;border-right:0px solid #000;}
    
    header{height:60px;width:100%;position:absolute;top:0;left:0;}
        header ul {margin:0;padding:0;}
        header li {display:inline;}
        header a {padding:10px;color:#fff;background-image:url(../img/blue-op50.png);
                text-decoration:none;font-size:25px;margin-right:10px;}
        header a:hover {border-bottom:2px solid #fff;}
    
    section#main{position:absolute;top:275px;color:#111;}
        
        section#body{float:left;width:670px;padding:15px;margin-left:120px;
                background-image:url(../img/white-op25.png);border:0px dotted #333;
                margin-bottom:50px;}
        
        /*aside#sidebar{float:right;width:240px;padding:5px;}*/
    
    footer{height:150px;width:100%;font-size:12px;border-top:0;padding:10px;}

img{border:0;}

a.button{padding:5px;border:2px solid #000;-moz-border-radius:4px;
        -webkit-border-radius:4px;text-decoration:none;text-align:center;}

h2{margin-top:0px;}

ul{margin:0;padding:0;}
li {list-style-type:none;display:inline;}
label{display:block;font-weight:bold;}

input[type=text] {width:200px;padding:5px;margin:5px;
        border:1px solid #fff;background-color:#efefef;
        -moz-border-radius: 4px; -webkit-border-radius: 4px;}

.ui.pretty_select li{width:200px;padding:5px;margin:5px;
        border:1px solid #fff;background-image:url(../img/white-op25.png);
        -moz-border-radius: 4px; -webkit-border-radius: 4px;
        cursor:pointer;display:block;}
.ui.pretty_select li.selected{background-color:#efefef;}
.ui.pretty_select li p{margin: 5px 0;}

#meal_options{}

