{% extends "base.html" %}


{% block body %}
    <h2>R.S.V.P.</h2>
    
    {% if thanks %}
        <p class="thanks">Thank you for RSVPing.</p>
        <script>
            setTimeout(function(){
                $('p.thanks').slideUp();
            }, 4000);
        </script>
    {% endif %}
    
    <form method="POST" onsubmit="return aands.rsvp.submit();">
    <ul>
        <li>
            <label for="id_name">Name</label>
            {{ form.name }}
        </li>
        <li>
            <label for="id_attending">Attending</label>
            {{ form.attending }}
        </li>
        <li id="meal_options">
            <label for="id_meal_options">Meal Option</label>
            {{ form.meal_options }}
        </li>
    <li><input type="submit" value="RSVP" /></li>
    </ul>
    
    </form>
    <script>
        aands.pretty_select($('#id_meal_options'));
        aands.pretty_select($('#id_attending'), function(select){
            if (select.val() == 'True') 
                $('#meal_options').slideDown();
            else $('#meal_options').slideUp();
        });
        aands.rsvp = {};
        aands.rsvp.submit = function(){
            if ($('#id_name').val().trim() == ''){
                $('#id_name').animate({'backgroundColor': '#ff9999'}, 1000, function(){
                    $('#id_name').animate({'backgroundColor': '#efefef'}, 1000);
                });
                return false;
            }else{
                return true;
            }
        };
    </script>
{% endblock %}

