{% extends "base.html" %}

{% block body %}
    <h2>Accomodations</h2>
    <p>If you're looking for a place to sleep after celebrating with us, we have a block of 20 rooms set aside at <a href="http://www.canadinns.com/portage/index.php?" target="_blank">CanadInns</a> (which is also our reception site) for $106 a night for both April 30th and May 1st. Please keep in mind that the hotel will release half of the rooms blocked on April 1st and the rest will be released on April 15th so it's best to book your room as soon as possible and give them our room block #126433.  </p>

    <p>There is also a <a href="http://www.super8portage.com/_mgxroot/page_10719.html" target="_blank">Super8</a> Hotel a short drive from our reception site. The rooms there start at about $95, which may be a better price, but the extra $10 to stay just down the hall from our banquet room might be worth it at 2 o'clock in the morning after a few drinks. </p>
{% endblock %}


