{% extends "base.html" %}


{% block body %}
    <h2>Location</h2>
    <iframe width="670" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Portage+la+Prairie,+Division+No.+9,+Manitoba,+Canada&amp;sll=49.926472,-98.22876&amp;sspn=2.779672,4.273682&amp;ie=UTF8&amp;cd=1&amp;geocode=FUKH-gId9DEk-g&amp;split=0&amp;hq=&amp;hnear=Portage+la+Prairie,+Division+No.+9,+Manitoba,+Canada&amp;ll=49.973058,-98.291212&amp;spn=0.086783,0.133553&amp;z=13&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;q=Portage+la+Prairie,+Division+No.+9,+Manitoba,+Canada&amp;sll=49.926472,-98.22876&amp;sspn=2.779672,4.273682&amp;ie=UTF8&amp;cd=1&amp;geocode=FUKH-gId9DEk-g&amp;split=0&amp;hq=&amp;hnear=Portage+la+Prairie,+Division+No.+9,+Manitoba,+Canada&amp;ll=49.973058,-98.291212&amp;spn=0.086783,0.133553&amp;z=13" style="color:#0000FF;text-align:left">View Larger Map</a></small>
{% endblock %}

