{% extends "base.html" %}


{% block body %}
    <h2>Registration</h2>
    <p>What we desire most is your presence on our wedding day. However, if you'd like to give us your presents as well, please have anything larger than a card shipped directly to our home. We'll be leaving our wedding directly for our honeymoon and will not have any way to transport larger gifts to our home.</p>
    
    <address>
        <strong>Aron and Sarah Jones</strong> (to soon?)<br />
        Some Address<br />
        Branpton, Ontatio<br />
        K1K 1K1<br />
    </address>
{% endblock %}

