{% extends "base.html" %}


{% block body %}
    <h2>Registry</h2>
    <p>What we desire most is your presence on our wedding day. However, if you'd like to give us your presents as well, please have anything larger than a card shipped directly to Aron's parents on our behalf. We'll be leaving our wedding directly for our honeymoon and will not have any way to transport larger gifts back to Toronto.</p>
    
    <address>
        <strong>Aron and Sarah Jones</strong> (too soon?)<br />
        c/o Don & Yvette Jones<br />
        23 Sutter Avenue<br />
        Brampton, Ontario<br />
        L6Z 1G1<br />
    </address>
{% endblock %}

